<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>org.exsen.awakened</string>
        <key>ProgramArguments</key>
        <array>
                <string>/path/to/bin/awakened</string> <!-- absolute path to awakened -->
                <string>/bin/sh</string>               <!-- absolute path to arbitrary executable -->
                <string>/path/to/.awakenedrc</string>  <!-- any number of arguments to the executable -->
        </array>
        <key>KeepAlive</key>
        <true/>
        <key>RunAtLoad</key>
        <true/>
</dict>
</plist>
